<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>COVID</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/all">All country</a>
            <a href="/myrec">My Record</a>
    
        </nav>
        </header>
    <h1>my details</h1>
    <% data.map(data2=>{%>
        <div>
            <p>contry : <%= data2.name%></p>
            <p>contry : <%= data2.date%></p>
            <p>contry : <%= data2.casesc%></p>
            <p>contry : <%= data2.casesd%></p>
            <p>contry : <%= data2.casesr%></p>
        </div>

        <form action="/delete" method="get">
            <input type="hidden" name="id" value="<%= data2.id%>"> 
            <input type="submit" value="Delete">
        </form>

        <br><br>
    <%})%>

</body>
</html>